@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* sidebar nav */

  .sidebar-nav-list {
    @apply whitespace-pre xl:px-2.5 text-[0.9rem] pt-5 pb-2 flex flex-col gap-1 font-medium overflow-x-hidden;
  }

  .sidebar-nav-link {
    @apply xl:p-2.5 md:py-2.5 md:px-1 p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium text-lg text-center;
  }

  .sidebar-nav-link .sidebar-nav-link-p {
    @apply px-2 capitalize;
  }

  .sidebar-nav-link:hover {
    @apply bg-blue-100 text-blue-600;
  }

  .sidebar-nav-link-active {
    @apply bg-blue-100 text-blue-600;
  }

  /* icons */

  .normal-icon {
    @apply w-6 h-6 cursor-pointer;
  }

  .up-icon {
    @apply cursor-pointer  transition-all duration-200 ease-out hover:-translate-y-[.5px];
  }

  /* buttons */
  .icon-btn {
    @apply inline-flex py-2 px-2 capitalize justify-between items-center bg-orange-400 rounded cursor-pointer transition-all duration-100 ease-in text-xs xs:text-sm md:text-base;
  }

  .icon-btn:hover {
    @apply bg-blue-950;
  }

  .primary-btn {
    @apply inline-block py-4 px-8 capitalize rounded-sm cursor-pointer transition-all duration-150 ease-in-out text-white font-medium mx-2;
  }

  .filter-btn {
    @apply text-purple-700 border-purple-700 border rounded inline-flex items-center justify-center py-2 px-6 font-medium cursor-pointer transition-all duration-150 ease-in-out;
  }

  .filter-btn:hover {
    @apply bg-purple-700 text-white;
  }

  .pdf-btn {
    @apply text-orange-500 border-orange-500 border rounded inline-flex items-center justify-center py-2 px-3 font-medium cursor-pointer transition-all duration-150 ease-in-out;
  }

  .pdf-btn:hover {
    @apply bg-orange-500 text-white;
  }

  .csv-btn {
    @apply text-green-700 border-green-700 border rounded inline-flex items-center justify-center py-2 px-3 font-medium cursor-pointer transition-all duration-150 ease-in-out;
  }

  .csv-btn:hover {
    @apply bg-green-700 text-white;
  }

  /* inputs */

  .search-bar {
    @apply flex items-center border rounded-md py-2  md:shadow-sm md:w-1/3 w-full;
  }

  .search-bar-input {
    @apply pl-2 pr-8 bg-transparent outline-none flex-grow text-base text-gray-600 placeholder-gray-400;
  }

  .input-item {
    @apply px-4 py-4;
  }

  .input-label {
    @apply text-base tracking-wide text-gray-900 block font-medium leading-snug;
  }

  .input-box {
    @apply bg-transparent outline-orange-500 outline-[.5px] text-base text-gray-700 border py-2 px-4 my-4 rounded-md shadow-sm border-[#919eab52] md:w-1/3 w-full;
  }

  /* table */

  .table-heading {
    @apply px-6 py-3 uppercase;
  }

  .table-data {
    @apply px-6 py-4 text-gray-800 leading-snug capitalize;
  }

  .action-icon {
    @apply inline-block text-gray-900 up-icon hover:text-black;
  }

  /* product details */
  .product-details-item {
    @apply border-[#D8D8D8] flex flex-wrap border !border-b-0;
  }
  .product-details-title {
    @apply text-sm font-medium w-1/3 p-3 border-r-[#D8D8D8] border-r;
  }
  .product-details-value {
    @apply text-sm font-medium p-3 w-2/3 capitalize;
  }
}
